@import url('https://fonts.googleapis.com/css?family=Bilbo|Caveat:400,700|Nanum+Gothic+Coding:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

// Color Palette
$colors: (
  primary: #fff,
  secondary: #000,
  secondary-light: #333,
  accent: #ad1721,
  accent-two: #cdc5b4,
  accent-three: #d1d5de
);

// Color Function
@function color($color-name) {
  @return map-get($colors, $color-name)
};

// Font Stack
$fonts: (
  comfortaa: #{'Comfortaa', cursive},
  caveat: #{'Caveat', cursive}
  // cousine: #{'Cousine', monospace}
);

// Font Function
@function font($font-name) {
  @return map-get($fonts, $font-name)
};


// Media Breakpoints
$desktop: 1439px;
$laptop: 1024px;
$tablet: 550px;

// Media Queries using Mixins
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Main Header
#main-header {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1504544750208-dc0358e63f7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80') no-repeat center center/cover;

  .header-nav {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: color(primary);

    h2 {
      font-family: font(comfortaa);
    }

    p {
      font-family: font(caveat);
    }
  }

}

// Navigation
#main-navigation {


  
  nav {
    display: flex;
    justify-content: space-between;

    h1 a {
      font-family: font(caveat);
      font-size: 2.5rem;
      color: color(primary);
    }

    // @include desktop() {


      
    // }

    @include tablet {

      .burger-menu {

        label {
          font-size: 1.5rem;
          color: color(primary);
          cursor: pointer;
          position: relative;
          z-index: 1;
        }

        #toggle:checked + ul {
          display: block;
          background-color: color(accent-two);
          line-height: 3rem;
        }


        input {
          display: none;
        }

        ul {
          display: none;
          width: 45vw;
          list-style: none;
          position:absolute;
          padding-top: 3rem;
          top: 0;
          right: 0;

          li {
            width: 100%;
            border-bottom: 1px solid color(secondary-light);

            a {
              color: color(primary);
            }
          }

          li:last-child {
            border: none;
          }
        }
      }
    }
  }

}

// Menu - Specials
#menu {
  background-color: color(accent-three);

  .specials {

    h2 { 
      font-family: font(caveat);
    }

    > h3 {
      font-family: font(comfortaa);
      color: color(accent);
      border-bottom: 2px solid color(secondary);
    }

    .grid-images {
      display: none;

      figure .special {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include laptop {
        display: grid;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(4, 25vh);
        margin: 0 3rem;
        grid-gap: 1rem;


        .item-1 {
          grid-column-start: 1;
          grid-column-end: 8;
          grid-row-start: 1;
          grid-row-end: 3;
        }
    
        .item-2 {
          grid-column-start: 8;
          grid-column-end: 15;
          grid-row-start: 1;
          grid-row-end: 3;
        }
    
        .item-3 {
          grid-column-start: 15;
          grid-column-end: 22;
          grid-row-start: 1;
          grid-row-end: 3;
        }
    
        .item-4 {
          grid-column-start: 4;
          grid-column-end: 11;
          grid-row-start: 3;
          grid-row-end: 5;
        }
    
        .item-5 {
          grid-column-start: 12;
          grid-column-end: 19;
          grid-row-start: 3;
          grid-row-end: 5;
        }
      }

      @include desktop() {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(4, 10vh);
        margin: 0 3rem;
        grid-gap: 1rem;

        .item-1 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 5;
        }
    
        .item-2 {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 5;
        }
    
        .item-3 {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 5;
        }
    
        .item-4 {
          grid-column-start: 7;
          grid-column-end: 9;
          grid-row-start: 1;
          grid-row-end: 5;
        }
    
        .item-5 {
          grid-column-start: 9;
          grid-column-end: 11;
          grid-row-start: 1;
          grid-row-end: 5;
        }
      }
    }

    .grid-text {
      margin: 0 3rem;

      @include laptop {
        display: none;
      }

      h3 {
        font-family: font(cousine);
      }

      .item-description {
        margin: 0 2rem;
        padding: 0.7rem 0;
        border-bottom: 2px dashed color(secondary-light);
      }

      .item-5 .item-description {
        border: none;
      }
    }
  }

  .menu {

    h3 {
      font-family: font(comfortaa);
      color: color(accent);
      border-bottom: 1px solid color(secondary);
    }

    .container{
      margin: 0 4rem;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(13, 7vh);

        .item-1 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .item-2 {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .item-3 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 7;
          grid-row-end: 9;
        }

        .item-4 {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 7;
          grid-row-end: 9;
        }

        .item-5 {
          grid-column-start: 1;
          grid-column-end: 5;
          grid-row-start: 10;
          grid-row-end: 14;
        }
      }

      @include laptop {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 7vh);

        .item-1 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .item-2 {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .item-3 {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .item-4 {
          grid-column-start: 7;
          grid-column-end: 9;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .item-5 {
          grid-column-start: 3;
          grid-column-end: 7;
          grid-row-start: 6;
          grid-row-end: 11;
        }
      }

      .item-1,
      .item-2,
      .item-3,
      .item-4,
      .item-5 {
        padding: 0.8rem 0;

        @include tablet {
          padding: 1rem 2rem;
        }
      }


      h3 {
        font-size: 1.3rem;
        font-weight: 600;
        color: color(accent);
        text-transform: uppercase;
      }

      h4 {
        font-size: 1rem;
        font-weight: 300;
      }

      ul {
        list-style: none;

        li {
          font-weight: 300;
        }
      }

      .food-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.5rem;

        .detail {
          font-size: 0.8rem;
        }
      }

      .item-2 .food-items {
        justify-content: center;
      }

      @include tablet {
        .item-5 .food-items {
          justify-content: space-around;
        }
      }

      .item-5 {

        p {
          font-size: 1rem;
          font-weight: 200;
        }

        .food-names li {
          font-weight: 700;
          padding-top: 0.5rem;
        }

        .food-prices .pb {
          padding-bottom: 0.75rem;
        }
      }
    }  
  }
  
}

// Locations - Food Truck
#locations {
  padding-bottom: 1rem;

  h2 {
    font-family: font(caveat)
  }

  .container {
    margin: 0 3rem;

    .site-1,
    .site-2 {
      display: flex;
      flex-direction: column;

      @include laptop {
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .site-2 {
      margin-top: 1.5rem;
    }

    .address {
      padding-bottom: 0.7rem;
    }

    .schedule {
      display: flex;
      justify-content: space-between;

      @include tablet {
        justify-content: space-around;
      }

      ul {
        list-style: none;
      }
    }
  }

  .map {
    margin-top: 1rem;
    width: 100vw;
    height: 50vh;
  }
}

// About
#about {
  background-color: color(accent-three);
  padding-bottom: 1rem;

  h2 {
    font-family: font(caveat)
  }
  
  .about-content {

    .about-text {
      text-align: center;
    }
  }
  
}

// Contact
#contact {

  padding: 0 2rem;

  h2 {
    font-family: font(caveat)
  }

  .contact-info .phone-number {
    margin-bottom: 0.7rem;
  }

  .contact-form {
    display: flex;
    justify-content: center;
    margin-right: 1rem;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 768px;

      input[type='text'],
      input[type='email'],
      textarea {
        width: 100%;
        color: color(primary);
      }
    }
    
    ::placeholder {
      color: color(primary);
      opacity: 1;
    }
  }
}

// Catering
// Rewards
// Careers

#main-footer {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid color(accent);

  .footer-nav nav ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
    }
  }

  hr {
    color: color(secondary);
    margin: 0 2rem;
  }

  .footer-content {
    padding: 0 2.5rem;
  }
}